<% layout("./layouts/boilerplate") %> 

    
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %> " alt="<%= campground.title %> ">
<p><%= campground.description %> </p>

<div>
    <a href="/campgrounds/<%=campground._id%>/edit ">Edit</a>

</div>
<br>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<br>
<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>
